[db]
; database config
protocol = mysql+pymysql
host = 127.0.0.1
port = 3306
user = root
pass = toor
db_name = topic

[ui]
; for vuejs files
title = 大安資訊專題網
static_path = /app/cli/dist

[jwt]
secret=000

[upload]
; also written in docker file
path=_file
allow_file_type=pdf,ppt,pptx,odp